
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#pageButtons {
    display: flex;
}


#photo-template {
    display: none;
}

